In [2]:
import geopandas as gpd
import pandas as pd

In [3]:
df_lotes_lidar = pd.read_pickle('resultados/lotes_lidar.pkl')

In [4]:
gdf_lotes = gpd.read_file('resultados/lotes.gpkg')

In [5]:
gdf_lotes.shape

(1636200, 51)

In [6]:
df_lotes_lidar.shape

(1635669, 5)

In [8]:
df_lotes_lidar.set_index('sqlc')

               BHM_min    BHM_max  BHM_count        BHM_sum
sqlc
001003000001  4.779490  33.788105        193    4402.474609
001003000002  7.573451  13.836112        239    2308.712891
001003000003  6.993511  13.339279        362    4452.778320
001003000004  3.282642  23.854979        336    5354.563477
001003000100  7.541953  10.729340        130    1212.777100
...                ...        ...        ...            ...
310117029200  2.187330   9.136294        152     966.906799
310117029300  2.082060   9.005632        110     728.602722
310117029400  1.805220   9.139772        134     892.824951
310118000001  1.999551  19.506062       7665  108217.023438
310119000100  2.196750  10.531774         95     514.913803

[1635669 rows x 4 columns]

In [13]:
gdf_lotes_lidar = gdf_lotes.merge(df_lotes_lidar, on='sqlc')

In [14]:
gdf_lotes_lidar.to_pickle('resultados/gdf_lotes_lidar.pkl')

In [ ]:
#juntar ambos